@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --blue: #0089d0;
  --blue-secondary: #86b9ff;
  --blue-gradient: linear-gradient(
    90deg,
    var(--blue) 0%,
    var(--blue-secondary) 100%
  );
  --purple: #6460aa;
  --purple-secondary: #e37ef0;
  --purple-gradient: linear-gradient(
    90deg,
    var(--purple) 0%,
    var(--purple-secondary) 100%
  );
  --green: #00bcb0;
  --green-secondary: #57de9b;
  --green-gradient: linear-gradient(
    90deg,
    var(--green) 0%,
    var(--green-secondary) 100%
  );
  --subtext: #97989a;
  --shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  --dark: #212427f5;
  --foreground: #21242781;
  --red: #cc3f00;
  --button-size: 1.5rem;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
}

.section__wrapper {
  margin: 1rem;
}

/* .section-item {
  background-color: var(--green);
} */

.section-item--patient-profile {
  max-width: 550px;
}

.header__row {
  justify-content: space-between;
  flex-wrap: nowrap;
}

.header {
  padding: 0 !important;
  margin-left: 0.5rem !important;
}

.header-box {
  color: var(--blue);
  max-width: 150px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5px;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  border: 2px solid var(--blue);
  border-radius: 5px;
  padding: 3px 10px;
  margin: 0;
}

.buttons {
  padding-right: 0.3rem !important;
  text-align: right;
  flex-shrink: 1;
}

.buttons > i {
  font-size: 1.4rem;
  height: var(--button-size);
  width: var(--button-size);
  text-align: center;
}

.buttons > i + i {
  margin-left: 1rem;
}

.section__fields {
  font-family: 'Source Code Pro', monospace;
  margin-top: 0.5rem;
}

.section__field--container {
  padding: 0.3rem 1rem !important;
}

.section__field {
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 0;
  padding: 10px 12px;
  justify-content: space-between;
}

/* .section__field--label {
  white-space: nowrap;
  text-overflow: ellipsis;
} */

.section__field--label > i {
  width: 1rem;
}

.section__field--value {
  padding-left: 0.5rem;
  font-weight: 700;
  text-align: right;
}
